/* 
=============== Configurações gerais do site ===============
*/

landing-page {
    min-height: 100%;
    background-color: #fafafa;
    background-position: center end;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

